/* .body{
    font-family: Arial, Helvetica, sans-serif;
   
    
}

#Authentication{
    height: 500px;
    width: 760px;
    display: flex;
    border: 2px solid lightblue;
    box-shadow: -10px 10px 5px lightgray;
    margin: 125px 425px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(206, 229, 237);
    background: linear-gradient(
    135deg,
    #e3f6ff 0%,
    #7fa6b2 50%,
    #3f565e 100%
    );
}


#Authentication #title{
    display: flex;
    margin-bottom: 400px;
    margin-left: 200px;
}

#LoginPage{
    display: flex;
    border: 3.5px solid lightblue;
    height: 220px;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
#LoginPage button{
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue;
    border-radius: 25px;
    background-color: lightblue;
    font-size: larger;
    font-weight: 700;
    color: white;
    
}
#LoginContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    gap: 5px;
}

#SignUpPage{
    border: 3.5px solid rgb(253, 250, 250);
    box-shadow: 0px 0px 35px rgb(64, 194, 216);
    height: 220px;
    width: 300px;
    text-align: center;
    align-content: center;
    background-color: white;
}
#SignUpPage button{
    grid-column: 10px;
    grid-row: 4;
    height: 50px;
    width: 125px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue;
    border-radius: 25px;
    background-color: lightblue;
    font-size: larger;
    font-weight: 700;
    color: white;
    
}

#SignUpContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    gap: 5px;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}


#Authentication {
    height: 500px;
    width: 760px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px auto;
    border: 2px solid lightblue;
    box-shadow: -10px 10px 5px lightgray;
    background: linear-gradient(135deg, #e3f6ff 0%, #7fa6b2 50%, #3f565e 100%);
}


#LoginPage,
#SignUpPage {
    height: 220px;
    width: 300px;
    background-color: white;
    border: 3.5px solid #fff;
    box-shadow: 0 0 35px rgb(64, 194, 216);
    display: grid;
    place-items: center;
}


#LoginContainer,
#SignUpContainer {
    display: grid;
    gap: 8px;
    text-align: center;
    font-size: larger;
}


button {
    height: 50px;
    width: 125px;
    border-radius: 25px;
    border: 1px solid lightblue;
    background-color: lightblue;
    font-size: larger;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
